
form{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
  & mat-form-field{
    max-width: 50%;
  }
}
